*{
 
}
/* aqui va toda la decoracion del titulo de lapaguina principal*/
header{
    border: 1px solid black;
    margin: 1% 3%;
    background-color: black;
    font-size: 500%;
    color: rgb(255, 0, 0);
}
body{
    background-image: url(/Imagenes/fondo.jpg);
}
/* portadas alineacion */
#Xbox{
    float: left;
    margin: 10% 8% 0% 0%;
}
#Nintendo{
   float: left;;
   margin:10% 0% 0% 0%;
}
#Play
{
    float: right;
    margin: 10% 1% 8% 0%;
}
p{
    color: white;
}

#musica{
    display: none;
}


